<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" ui-sref=".home">AngularJS Lazy Loading Demo</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ui-sref-active="active"><a ui-sref=".home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref=".about">About</a></li>
                    <li ui-sref-active="active"><a ui-sref=".contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>